* {
    font-family: Verdana, 'Times New Roman', sans-serif;
    text-align: center;
}

h2 {
    color: #212427;
    font-size: 45px;
    margin-top: 50px;
    margin-bottom: 20px;
}

li {
    padding: 15px;
}

.text {
    font-size: 25px;
}

img {
    display: block;
    margin: 40px auto;
    height: 440px;
    width: auto;
}

.link {
    font-size: 35px;
    margin-top: 75px;
    margin-bottom: -75px;
}

.title_main {
    font-size: 80px;
    color: rgb(245, 89, 89);
    margin-bottom: 150px;
}

.title_recipes {
    font-size: 60px;
    color: orange;
}

.recipes {
    background-color: rgb(180, 253, 255);
    font-size: 35px;
    margin: 35px;
    padding-top: 30px;
    padding-bottom: 50px;
}